---
layout: base.njk
title: About | Techfest 2.0
---

<section>
    <div class="container mx-auto">
        <h2 class="text-5xl font-black text-center py-24">
            About
        </h2>
        <div class="max-w-3xl mx-auto">
            <p>
                Techfest is an annual event organised by the Department of Computer Science at Parvatibai Chowgule College of Arts and
                Science Autonomous. Students and faculty members from the department are split into 10 teams and battle it for the top
                spot.
            </p>
            <p>
                The first editon of Techfest was held in 2021 in an online mode due to Covid restrictions. However, Techfest 2.0 will be
                held on campus with complete enthusiasm.
            </p>
        </div>
    </div>
</section>