---
layout: base.njk
title: About | Techfest 2.0
---

<section>
    <div class="container mx-auto px-5">
        <h2 class="text-5xl font-black text-center py-24">
            About
        </h2>
        <div class="max-w-3xl mx-auto">
            <p>
                Techfest is an annual event organised by the Department of Computer Science at Parvatibai Chowgule College of Arts and
                Science Autonomous. Students and faculty members from the department are split into 10 teams and battle it for the top
                spot.
            </p>
            <p>
                The first editon of Techfest was held in 2021 in an online mode due to Covid restrictions. However, Techfest 2.0 will be
                held on campus with complete enthusiasm.
            </p>
        </div>
        <h2 class="text-5xl font-black text-center py-24">
            Organizing Team
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-x-8 gap-y-10 pb-24">
            {% for person in organizers %}
                <div class="flex bg-neutral-900 rounded-lg overflow-hidden">
                    <img src="{{ person.image }}" alt="" height="125" width="125"/>
                    <div class="p-3 flex flex-col">
                        <h3 class="font-bold text-lg">
                            {{ person.name }}
                        </h3>
                        <h4 class="text-sm text-neutral-300">
                            {{ person.title }}
                        </h4>
                        <div class="flex-1 flex items-end">
                            <a
                                href="//wa.me/91{{ person.phone }}"
                                class="bg-[#c0ff6a] text-black rounded-full p-2 flex items-center gap-2 mt-auto hover:opacity-90 transition-all font-bold
                                    w-fit px-5">
                                <i class="fab fa-whatsapp"></i>
                                <span class="text-sm">Contact</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>