---
layout: base.njk
title: Sponsors | Techfest 2.0
---

<section>
    <div class="container mx-auto flex flex-col items-center">
        <h2 class="text-5xl font-black text-center py-16 lg:py-24">
            Under Construction
        </h2>
        <a href="/" class="hover:underline text-center">Go Home</a>
    </div>
</section>