<footer class="py-2  px-5 bg-techfest text-black">
    <div class="container mx-auto flex flex-col items-center">
        <a href="//gavinpereira.in" target="_blank" class="group  font-black cursor-pointer">
            <i class="fas fa-code" title="Developed"></i>
            <span>by</span>
            <span class="group-hover:underline">Gavin Pereira</span>
        </a>
    </div>
</footer>