<header class="bg-techfest text-black px-5">
    <div class="flex-col lg:flex-row gap-3 container mx-auto py-5 flex items-center justify-between">
        <a href="/"><img src="/img/logo.png" alt="Techfest 2.0" class="brightness-0 h-8">
        </a>
        <nav class="uppercase flex items-center gap-3 lg:gap-5 font-bold text-sm flex-wrap justify-center">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/teams">Teams</a>
            <a href="/events">Events</a>
            <a href="/sponsors">Sponsors</a>
        </nav>
    </div>
</header>