---
layout: base.njk
title: Events | Techfest 2.0
---

<section>
    <div class="container mx-auto flex flex-col lg:flex-row justify-center gap-10 items-center pb-24 px-5">
        <div class="flex flex-col items-center ">
            <h2 class="text-5xl font-black text-center pt-10 pb-4">
                Day 1
            </h2>
            <h3 class="mb-5 text-center">
                22 April 2022
            </h3>
            <img src="/img/tt/1.png" class="invert">
        </div>
        <div class="flex flex-col items-center ">
            <h2 class="text-5xl font-black text-center pt-10 pb-4">
                Day 2
            </h2>
            <h3 class="mb-5 text-center">
                23 April 2022
            </h3>
            <img src="/img/tt/2.png" class="invert">
        </div>
    </div>
</section>