---
layout: base.njk
title: Events
---

<section class="px-5">
    <div class="container mx-auto items-center flex flex-col">
        <h2 class="text-5xl font-black text-center py-16 lg:py-24">
            Events
        </h2>
        <a
            href="#schedule"
            class="text-center mb-10 bg-techfest text-black rounded-full p-2 flex items-center justify-center mt-10 hover:opacity-90
                transition-all font-bold px-5">
            View schedule</a>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-5">
            {% for event in collections.events %}
                <div class="bg-neutral-900 rounded-lg p-5 flex flex-col">
                    <div class="flex-1">
                        <h3 class="font-black text-2xl">{{ event.data.name }}</h3>
                        {% if event.data.simpleName %}
                            <h4 class="italic">
                                ({{ event.data.simpleName }})</h4>
                        {% endif %}
                        <h4>
                            Day {{ event.data.day }}</h4>
                        <h4>
                            {{ event.data.time }}</h4>
                        <h4>
                            {{ event.data.venue }}</h4>
                    </div>
                    <a
                        href="../{{ event.data.permalink }}"
                        class="bg-techfest text-black rounded-full p-2 w-full flex items-center justify-center mt-10 hover:opacity-90
                            transition-all font-bold">
                        View details
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="px-5 pb-24">
    <div class="container mx-auto">
        <h2 class="text-5xl font-black text-center  py-16 lg:py-24" id="schedule">
            Schedule
        </h2>
        <div class=" flex flex-col lg:flex-row justify-center gap-10 items-center">
            <div class="flex flex-col items-center">
                <h2 class="text-3xl font-black text-center pt-10 pb-4">
                    Day 1
                </h2>
                <h3 class="mb-5 text-center">
                    22 April 2022
                </h3>
                <img src="/img/tt/1.png" class="" style="filter: invert(1)"></div>
                <div class="flex flex-col items-center ">
                    <h2 class="text-3xl font-black text-center pt-10 pb-4">
                        Day 2
                    </h2>
                    <h3 class="mb-5 text-center">
                        23 April 2022
                    </h3>
                    <img src="/img/tt/2.png" class="" style="filter: invert(1)"></div>
                </div>
            </div>
        </section>